#include <math.h>
#include <stdio.h>

    void NumPrimos(){

    }
    
    void numEgolatra(){
        
    }
    
    void numMagico(){
        
    }


int main(){
    int n, opcion;
    do
    {
        printf( "\n   1. Calcular Numero Primo");
        printf( "\n   2. Calcular Numero Egolatra");
        printf( "\n   3. Calcular Numero Magico");
        printf( "\n   4. Salir." );
        do
        {
            printf( "\n   Introduzca opci%cn (1-4): ");
            scanf( "%d", &opcion );

        } while ( opcion < 1 || opcion > 4 );

        switch ( opcion )
        {
            case 1: NumPrimos();
                    break;

            case 2: numEgolatra();
                    break;

            case 3: numMagico();
                    break;
         }

    } while ( opcion != 4 );

    return 0;
}
